{% extends "base.html" %}
{%load static%}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> <!-- eye icon password -->

<style>

.text-black{
    color:white !important;
}

.form-control-lg{
  height:0.1rem;
  
}
.btn-block {
  width: 68%; 
}

.form-control{
  background-color:white !important;
  color:black;
  width:68%;
}

/* Eye Icon of Password*/
.password-field {
  position: relative;
}
.password-input{
  height:2rem;
  width:68%;
}
.password-toggle-icon {
  position: absolute;
  top: 32%;
  right: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('/static/images/eye.png');
  background-size: cover;
}

.password-toggle-icon.hide {
  background-image: url('/static/images/eye-slash.png');
}


</style>
<section class="vh-100" >
<div class="container py-5 h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col col-xl-10">
<div class="card" style="border-radius: 1rem;">
<div class="row g-0">
<div class="col-md-6 col-lg-5 d-none d-md-block">
<img src="{% static '/images/lightbox/forgot.png'%}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" >
</div>
<div class="col-md-6 col-lg-7 d-flex align-items-center">
<div class="card-body p-4 p-lg-5 text-black" style="height:510px;padding-top: 10px;">

<form method ="POST">
{% csrf_token %}
{%if error%}
<div class = "alert alert-danger" role = "alert" >
{{error}}
</div>
{%endif%}

<div class="form-outline mb-4">
<input type="email" id="form2Example17" name ="email" style="padding-left : 22px;width: 299.2px;" placeholder="Email" style = "padding-left : 22px" class="form-control2 form-control-lg" /><br>
</div>

<div class="form-group">
<label for="inputPasswordOld">Current Password</label>
<input type="password"  placeholder="***********" name = "old_password" style="width: 293.6px" class="form-control" id="inputPasswordOld" required="">
<span class="form-text small text-muted">
Please enter your current password
</span>
</div>

<input type="hidden" name="customer_pk" value="{{ customer.pk }}">

<div class="form-group">
<label for="inputPasswordNew">New Password</label>
<input type="password"  placeholder="***********" name = "new_password" style="width: 293.6px" class="form-control" id="inputPasswordNew" required="">
<span class="form-text small text-muted">
The password must be 8-20 characters, and must <em>not</em> contain spaces.
</span>
</div>
{% comment %} <div class="form-group">
<label for="inputPasswordNewVerify">Repeat Password</label>
<input type="password" name = "repeat_password" class="form-control" id="inputPasswordNewVerify" required="">
<span class="form-text small text-muted">
To confirm, type the new password again.
</span>
</div> {% endcomment %}
<div class="form-group">
<button type="submit" class="btn btn-success btn-lg float-right">Save</button>
</div>
</form>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
var togglePassword = function() {
var passwordInput = this.parentNode.querySelector('.password-input');
if (passwordInput.type === 'password') {
passwordInput.type = 'text';
this.classList.add('hide');
} else {
passwordInput.type = 'password';
this.classList.remove('hide');
}
};

var toggleIcons = document.getElementsByClassName('password-toggle-icon');
for (var i = 0; i < toggleIcons.length; i++) {
toggleIcons[i].addEventListener('click', togglePassword);
}
});
</script>



{% endblock %}