{% extends "base.html" %}
{%load static%}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">    <!-- eye icon password -->

<style>

.text-black{
    color:white !important;
}

.form-control-lg{
  height:0.1rem;
  
}
.btn-block {
  width: 68%; 
}

.form-control{
  background-color:white !important;
  color:black;
  width:68%;
}

/* Eye Icon of Password*/
.password-field {
  position: relative;
}
.password-input{
  height:2rem;
  width:68%;
}
.password-toggle-icon {
  position: absolute;
  top: 32%;
  right: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('/static/images/eye.png');
  background-size: cover;
}

.password-toggle-icon.hide {
  background-image: url('/static/images/eye-slash.png');
}

</style>
<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{% static '/images/lightbox/pexels3(1).png'%}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" >
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black" style="height:510px;padding-top: 10px;margin-left: 12px;">
  


                 <form action ="/register" method ="POST">
                  {% csrf_token %}  
                    <div class="d-flex align-items-center mb-3 pb-1" style="margin-bottom: 0px">                     
                      <img src = "{% static '/images/lightbox/protein-z(4).png'%}" alt="login form" height="43" width ="43" >
                      <h5 class="fw-normal mt-2 " style="letter-spacing: 1px;">&nbsp; Sign Up</h5>
                    </div>
                    
                    {%if error%}
                    <div class = "alert alert-danger" role = "alert" >
                      {{error}}
                    </div>
                    {%endif%}

                    
                    
                     
                     <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" value = "{{revalue.full_name}}" name ="users" placeholder="Full Name" class="form-control" style="margin-bottom: 25px" >
                       
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>
                      
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" id="form3Example3c" value = "{{revalue.email}}" name ="email" placeholder="Email" class="form-control" style="margin-bottom: 25px" >
                          
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>
                      
                    
                        <div class="password-field">
                        <input type="password" id="password" name ="password" placeholder="***********" class="password-input" style="margin-bottom: 25px" >
                        <span toggle="#password" class="password-toggle-icon"></span>           
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>  
                      
                      <div class="password-field">
                        <input type="password" id="password" name ="pass2" placeholder="***********" class="password-input" style="margin-bottom: 25px">
                        <span toggle="#password" class="password-toggle-icon"></span>   
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>
                   
                      
                    <div class="pt-1 mb-4">
                      <button type = "submit" class="btn btn-dark btn-lg btn-block" style="background-color:#56d1bf"type="button">Register</button>
                    </div>
  
               
                    <p class="mb-5 pb-lg-2" style="color: #7fa1ac ;">Have an account?  &nbsp; <a href="{% url 'login' %}" style="color: #7fa1ac ;"> Login here</a></p>   
                   
                  </form>
  


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var togglePassword = function() {
        var passwordInput = this.parentNode.querySelector('.password-input');
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          this.classList.add('hide');
        } else {
          passwordInput.type = 'password';
          this.classList.remove('hide');
        }
      };
    
      var toggleIcons = document.getElementsByClassName('password-toggle-icon');
      for (var i = 0; i < toggleIcons.length; i++) {
        toggleIcons[i].addEventListener('click', togglePassword);
      }
    });
    </script>
{% endblock %}